<h1> Usted realizó 3 intentos fallidos para ingresar a la plataforma<br>Ahora debe esperar 1 minuto para volver a intentar</h1>
<form action="/stand_by" method="post">
    <input type="submit" name="stand_by" value="retry">
</form>
