<form action="/upload_file" method="post" enctype="multipart/form-data">
  Enter your name
  <input type="text" name="name"><br>
  Select file
  <input type="file" name="file"><br>
  <input type="submit" name="submit" value="upload file">
</form>
